$dark: #202020;
$light: #ffffff;
$red: #e42675;
$green: #72f390;


$body-bg: $light;
$body-color: $dark;


$font-family-base: 'Lato',
sans-serif;
$paragraph-line-height: 3rem;
$font-size-base: 1.6rem; // 1.6 * 10 (Root HTML font size) == 16px / 1rem = 10px