$danger: #eb4a4b;
@mixin center(){
  text-align: center;
  margin: 0 auto;
}

@mixin padding(){
  padding: 8px 14px;
}


.container{
  padding: 40px 20px 50px 20px;
  margin-top: 30px;
  
  h3{
    margin-top: 40px;
  }
  .row{
    padding-top: 40px;
  }
  .alert-success,
  .alert-danger{
      background: none;
  }
  th,
  h2,
  img,
  td:first-child{
    @include center;
  }
  
  code,
  .alert{
    font-size: 13px;
  }
  code{
     color: darken($danger, .5);
  }

  .alert{
    @include padding;
  }
}

