$dark: #202020;
$light: #ffffff;
$red: #db5af5;
$green: #60f8c5;

$body-bg: $light;
$body-color: $dark;

$font-family-base: 'Lato', sans-serif;
$paragraph-line-height: 3rem;
$font-size-base: 1.6rem; // 1.6 * 10 (Root HTML font size) == 16px / 1rem = 10px